@page
@model PetShop.Models.AdminCategory.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<div>
    <h4>Chi tiết danh mục</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Category.CateName) *@ ID:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CateId)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Category.CateName) *@ Tên danh mục:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CateName)
        </dd>
    </dl>
</div>
<div>
    <a class ="btn btn-warning" asp-page="./Edit" asp-route-id="@Model.Category.CateId">Chỉnh sửa</a> 
    <a class="btn btn-primary" asp-page="./Index">Quay trở về</a>
</div>
